/**********************
		GENERAL
**********************/
body {
	font-family: 'Kaushan Script', cursive;
}


/************************
		HEADING
************************/

h1 {
	color:orange;
	text-align: center;

}

h2 {
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
}




p {
	font-family: 'Merriweather', serif;
	text-align: center;
}

form {
	text-align: center;
}

/***************
	Login page
****************/	
 .user { 
	color: orange;

}

/************************
		Front Page
************************/

#master-login {
	margin: 0 auto;
	width: 50%;
	max-width: 30em;
	background: #f3f3f3;
}

.row{
	padding: 10%

}

/*BACKGROUND IMAGE*/
body {
	background: url(../images/TurtleIsland.jpg);
	background-size: 100%;
	background-position: fixed;
	}


/************************
	User Interface Page
************************/
.menuBar ul{
	float: left;
	list-style: none;

	}

.liveChat {
	display: block;
	float: right;
	width: 33.3%;
	}

#master-login {
	margin: 0 auto;
	width: 50%;
	max-width: 30em;
	background: #f3f3f3;
}

/*BACKGROUND IMAGE*/
body {
	background: url(../images/TurtleIsland.jpg);
	background-size: 100%;
	}

/*************************
	Tuturial page
*************************/

h2{
	text-align: center;
}


#creating-user{
	text-align: center;
}




.aside {
	margin-right: 0%;
}
