/*GENERAL*/
body {
	font-family: 'Kaushan Script', cursive;
}


/*HEADING*/

h1 {
	color:orange;
	text-align: center;
}

p{
	text-align: center;
}


form{
	text-align: center;
}

/*BACKGROUND IMAGE*/
body {
	background: url(../images/TurtleIsland.jpg);
	background-size: 100%;
}